.container{
    background: rgba(255,255,255,.75);
    min-height: 100%;
    box-shadow: 0px 0px 10px grey;
    border-radius: 5px;
}

.request-header{
    padding: 10px;
    color: rgba(76,76,76,1);
}

.btn-group > .btn {
    margin: 0px;
}

.mentee-image{
    height: 75px;
    width: 75px;
}

.mentee-list{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 2em;
}

.mentee-actions{
    width: 55%;
}

.request-text {
    font-size: 14pt;
    color: rgba(76,76,76,1);
}

.confirm-form {
    padding: 10px;
}

.mentee-text{
    font-size: 14pt;
    color: rgba(76,76,76,1);
}

.requests{
    margin-top:20px;
    margin-bottom:10px;
}

.days-left{
    color: rgba(76,76,76,1);
    text-align: center;
}