<div *ngIf="login" class="container">
  <div class="request-header">
    <h3>
      <p>Manage your {{model.pendingRequests.length}} mentor requests
        <br /> Remember
        <strong>you can only have one mentee at a time</strong>
      </p>
    </h3>
  </div>
  <div class="requests">
      <pagination *ngIf="model.pendingRequests.length > 5" [totalItems]="model.pendingRequests.length" [itemsPerPage] = "5" (pageChanged)="pageChanged($event)" [(ngModel)] = "page" class="pull-left"></pagination>
    <table class="mentee-list">
      <tr *ngFor="let m of returnedArray">
        <td>
          <div class="image">
            <img class="mentee-image" alt="Mentee Picture" src="assets/images/user-alternate.png">
          </div>
        </td>
        <td>
          <div class="mentee-details">
            <span class="mentee-text">
              {{m.fullName}}
              <br /> {{m.degree}}
              <br /> {{m.location}}
            </span>
          </div>
        </td>
        <td *ngIf="diffInDays(m.expirationDate) >= 0 && !(m.userId == showConfirmFormId) && !(m.userId == showDeclineFormId)" class="mentee-actions"
          align="right">
          <div class="btn-group btn-group-lg">
            <button class="btn btn-lg btn-primary" (click)="acceptMentee(m.userId)">Accept</button>
            <button class="btn btn-lg btn-danger" (click)="declineMentee(m.userId)">Decline</button>
            <button class="btn btn-lg btn-default" (click)=showUserProfile(m.userId)>Learn More</button>
          </div>
        </td>
        <td *ngIf="diffInDays(m.expirationDate) >= 0 && (m.userId == showConfirmFormId) && !(m.userId == showDeclineFormId)" class="mentee-actions"
          align="right">
          <span class="request-text">
            Accept
            <strong>{{m.fullName}}</strong> as your Mentee?
          </span>
          <br />
          <button class="btn btn-success btn-md" role="button" (click)="confirmAcceptMentee(m.userId)">Yes</button>
          <button class="btn btn-default btn-md" role="button" (click)="cancel()">No</button>
        </td>
        <td *ngIf="diffInDays(m.expirationDate) >= 0 && !(m.userId == showConfirmFormId) && (m.userId == showDeclineFormId)" class="mentee-actions"
          align="right">
          <span class="request-text">
            Decline
            <strong>{{m.fullName}}'s</strong> request?
          </span>
          <br />
          <button class="btn btn-danger btn-md" role="button" (click)="confirmDeclineMentee(m.userId)">Yes</button>
          <button class="btn btn-default btn-md" role="button" (click)="cancel()">No</button>
        </td>
        <td *ngIf="diffInDays(m.expirationDate) >= 0" align="right">
          <div class="days-left">
            <span class="text-center">
              <span class="small">{{diffInDays(m.expirationDate)}} DAYS</span>
              <br />
              <span class="small">to accept</span>
            </span>
          </div>
        </td>
        <td *ngIf="!(diffInDays(m.expirationDate) >= 0)" colspan="2" class="mentee-actions" align="right">
          <span class="request-text">Request Expired On {{m.expirationDate | date:'MM/dd/yyyy'}}</span>
        </td>
      </tr>
    </table>
    <pagination *ngIf="model.pendingRequests.length > 5" [totalItems]="model.pendingRequests.length" [itemsPerPage] = "5" (pageChanged)="pageChanged($event)" [(ngModel)] = "page" class="pull-left"></pagination>
  </div>
</div>