div.logo {
  background-color: #fff;
}

div.container>img {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar {
  background: linear-gradient( rgba(175, 228, 47, 0.63), rgba(141, 214, 14, 0.63)), url('../../assets/images/research-parallax-2.jpg');
  background-position-y: center;
  border-radius: 0px;
}

.navbar .navbar-brand {
  color: #ffffff;
  font-weight: bold;
}

.navbar a:hover{
  background: rgba(255,255,255,.2);
}

.navbar .dropdown-toggle{
  background: rgba(255,255,255,0);
  color: #fff;
}

.dropdown-toggle:active, .open .dropdown-toggle {
  background:rgba(255,255,255,.2); 
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: rgba(120,162,46,1);
  color: #fff;
}