<div class="logo">
  <div class="container">
    <img src="assets/images/niehs-logo.png" alt="NIEHS Logo" height="50" width="476" />
  </div>
</div>
<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a [routerLink]="['/']" routerLinkActive="router-link-active" class="navbar-brand">IMACS Mentorship</a>
    </div>
    <div *ngIf="userInfo" id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" dropdown>
          <a class="dropdown-toggle" dropdownToggle data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logged in as {{userInfo.fullName}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a *ngIf="userInfo.isAdmin" [routerLink]="['/administration']" routerLinkActive="router-link-active">Administration</a>
              <a *ngIf="userInfo" [routerLink]="['/profile']" routerLinkActive="router-link-active">Update Profile</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
