<div *ngIf="login && !optionsComplete" class="container">
  <div align="center" id="progress-bar" class="prompt-progress-bar row">
    <div [ngClass]="{'progress-done': progress(1) === 'done', 'progress-current' : progress(1) === 'current'}" class="progress-item col-md-2 col-sm-2 col-lg-2"
      (click)="navigateTo(1)">Clinical Care
    </div>
    <div [ngClass]="{'progress-done': progress(2) === 'done', 'progress-current' : progress(2) === 'current', 'progress-complete' : progress(2) === 'complete', 'progress-not-allowed' : disableProgress(2)}"
      class="progress-item col-md-2 col-sm-3 col-lg-2"
      (click)="navigateTo(2)">Focus
    </div>
    <div [ngClass]="{'progress-done': progress(3) === 'done', 'progress-current' : progress(3) === 'current', 'progress-complete' : progress(3) === 'complete', 'progress-not-allowed' : disableProgress(3)}"
      class="progress-item col-md-4 col-sm-4 col-lg-4"
      (click)="navigateTo(3)">Specialization
    </div>
    <div [ngClass]="{'progress-done': progress(4) === 'done', 'progress-current' : progress(4) === 'current', 'progress-complete' : progress(4) === 'complete', 'progress-not-allowed' : disableProgress(4)}"
      class="progress-item col-md-2 col-sm-3 col-lg-2"
      (click)="navigateTo(4)">Expertise
    </div>
    <div [ngClass]="{'progress-done': progress(5) === 'done', 'progress-current' : progress(5) === 'current', 'progress-complete' : progress(5) === 'complete', 'progress-not-allowed' : disableProgress(5)}"
      class="progress-item col-md-2 col-sm-2 col-lg-2"
      (click)="navigateTo(5)">Location
    </div>
  </div>
  <div *ngIf="step === 1" id="clinical-care">
    <div class="prompt-header">
      <h3>
        <p>Do you want a mentor who is responsible for the
          <strong>clinical care</strong> of the patients?
        </p>
      </h3>
    </div>
    <div class="prompt-body">
      <div class="row">
        <div align="center" class="col-md-4 col-sm-4 col-lg-4">
          <button [ngClass]="{'btn-success': model.patients === 'yes'}" class="btn btn-default btn-lg btn-block btn-huge" (click)="setPatient('yes')">Yes</button>
        </div>
        <div align="center" class="col-md-4 col-sm-4 col-lg-4">
          <button [ngClass]="{'btn-success': model.patients === 'no'}" class="btn btn-default btn-lg btn-block btn-huge" (click)="setPatient('no')">No</button>
        </div>
        <div align="center" class="col-md-4 col-sm-4 col-lg-4">
          <button [ngClass]="{'btn-success': model.patients === 'n/a'}" class="btn btn-default btn-lg btn-block btn-huge" (click)="setPatient('n/a')">Doesn't
            <br />Matter</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="step === 2" id="patientType">
    <div class="prompt-header">
      <h3>
        <p>I want my mentor to 
          <strong>focus</strong> on:
        </p>
      </h3>
    </div>
    <div class="prompt-body">
      <div class="row">
        <div *ngFor="let patientType of getKeys(patientTypes)" align="center" class="col-md-3 col-sm-3 col-lg-3">
          <button title="{{patientTypes.get(patientType)}}" [ngClass]="{'btn-success': model.patientType === patientType}" class="btn btn-default btn-lg btn-block btn-huge"
            (click)="setPatientType(patientType)">{{patientTypes.get(patientType)}}</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="step === 3" id="clinicalForm">
    <div class="prompt-header">
      <h3>
        <p>I want a mentor who
          <strong>specializes</strong> in these forms of Myositis:
          <br /> (Click all that apply, then Next)
        </p>
      </h3>
    </div>
    <div class="prompt-body">
      <div class="row">
        <div *ngFor="let clinicalForm of getKeys(clinicalForms)" align="center" class="col-md-3 col-sm-3 col-lg-3">
          <button title="{{clinicalForms.get(clinicalForm)}}" [ngClass]="{'btn-success': model.clinicalForm.indexOf(clinicalForm, 0) > -1}" class="btn btn-default btn-lg btn-block btn-huge"
            (click)="setClinicalForm(clinicalForm)">{{clinicalForms.get(clinicalForm)}}</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="step === 4" id="researchArea">
    <div class="prompt-header">
      <h3>
        <p>I want a mentor who is an
          <strong>expert</strong> in:
          <br /> (Click all that apply, then Next)
        </p>
      </h3>
    </div>
    <div class="prompt-body">
      <div class="row">
        <div *ngFor="let researchArea of getKeys(researchAreas)" align="center" class="col-md-3 col-sm-3 col-lg-3">
          <button title="{{researchAreas.get(researchArea)}}" [ngClass]="{'btn-success': model.researchArea.indexOf(researchArea, 0) > -1}" class="btn btn-default btn-lg btn-block btn-huge"
            (click)="setResearchArea(researchArea)">{{researchAreas.get(researchArea)}}</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="step === 5" id="location">
    <div class="prompt-header">
      <h3>
        <p>I want a mentor who
          <strong>lives</strong> in:
          <br /> (Click all that apply, then Next)
        </p>
      </h3>
    </div>
    <div class="prompt-body">
      <div class="row">
        <div *ngFor="let location of getKeys(locations)" align="center" class="col-md-3 col-sm-3 col-lg-3">
          <button title="{{locations.get(location)}}" [ngClass]="{'btn-success': model.location.indexOf(location, 0) > -1}" class="btn btn-default btn-lg btn-block btn-huge"
            (click)="setLocation(location)">{{locations.get(location)}}</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <div *ngIf="step === 6" id="finish">
    <div class="prompt-header">
      <h2>
        <span class="glyphicon glyphicon-ok"></span> Great Job!
      </h2>
      <h3>
        <p>
          We are now searching the IMACS community
          <strong>for your potential mentor</strong>.
        </p>
      </h3>
    </div>
    <div class="prompt-body text-center">
      <img class="loading-spinner" src="assets/images/spinner.gif" alt="Searching Please Wait">
    </div>
  </div> -->
  <div *ngIf="step < 6" id="navigation-buttons" class="navigation-buttons">
    <div class="row">
      <div align="center" class="col-md-6 col-sm-6 col-lg-6">
        <button [disabled]='step === 1' class="btn btn-primary btn-lg btn-block btn-nav" (click)="previousPage()">Previous</button>
      </div>
      <div *ngIf="step != 5" align="center" class="col-md-6 col-sm-6 col-lg-6">
        <button [disabled]='disableNext()' class="btn btn-primary btn-lg btn-block btn-nav" (click)="nextPage()">Next</button>
      </div>
      <div *ngIf="step === 5" align="center" class="col-md-6 col-sm-6 col-lg-6">
        <button [disabled]='disableSearch()' class="btn btn-primary btn-lg btn-block btn-nav" (click)="searchMentor()">Search</button>
      </div>
    </div>
  </div>
</div>
<app-mentor-search-result *ngIf="login && optionsComplete" [login]="login" [mentorSearchOptions]="model" (refineSearchEvent)="refineSearchEventHandler($event)"></app-mentor-search-result>