<div *ngIf="login && !optionsComplete" class="container">
  <div align="center" id="progress-bar" class="prompt-progress-bar row">
    <div [ngClass]="{'progress-active': step >= 1, 'progress-current' : step === 1, 'progress-complete' : isStepComplete(1) && step < 1}" class="progress-item col-md-2 col-sm-2 col-lg-2" (click)="navigateTo(1)">Clinical Care
      <!-- <span *ngIf="step >= 2" class="glyphicon glyphicon-ok small"></span> -->
    </div>
    <div [ngClass]="{'progress-active': step >= 2, 'progress-current' : step === 2, 'progress-complete' : isStepComplete(2) && step < 2}" class="progress-item col-md-2 col-sm-3 col-lg-2" (click)="navigateTo(2)">Focus
      <!-- <span *ngIf="step >= 3" class="glyphicon glyphicon-ok small"></span> -->
    </div>
    <div [ngClass]="{'progress-active': step >= 3, 'progress-current' : step === 3, 'progress-complete' : isStepComplete(3) && step < 3}" class="progress-item col-md-4 col-sm-4 col-lg-4" (click)="navigateTo(3)">Specializations
      <!-- <span *ngIf="step >= 4" class="glyphicon glyphicon-ok small"></span> -->
    </div>
    <div [ngClass]="{'progress-active': step >= 4, 'progress-current' : step === 4, 'progress-complete' : isStepComplete(4) && step < 4}" class="progress-item col-md-2 col-sm-3 col-lg-2" (click)="navigateTo(4)">Expertise
      <!-- <span *ngIf="step >= 5" class="glyphicon glyphicon-ok small"></span> -->
    </div>
    <div [ngClass]="{'progress-active': step >= 5, 'progress-current' : step === 5, 'progress-complete' : isStepComplete(5) && step < 5}" class="progress-item col-md-2 col-sm-2 col-lg-2" (click)="navigateTo(5)">Location
      <!-- <span *ngIf="step >= 6" class="glyphicon glyphicon-ok small"></span> -->
    </div>
  </div>
  <div *ngIf="step === 1" id="clinical-care">
    <div class="prompt-header">
      <h3>
        <p>Do you want a mentor who is responsible for the
          <strong>clinical care</strong> of the patients?
        </p>
      </h3>
    </div>
    <div class="prompt-body">
      <div class="row">
        <div align="center" class="col-md-4 col-sm-4 col-lg-4">
          <button [ngClass]="{'btn-success': model.clinicalCare === 'yes'}" class="btn btn-default btn-lg btn-block btn-huge"
            (click)="setClinical('yes')">Yes</button>
        </div>
        <div align="center" class="col-md-4 col-sm-4 col-lg-4">
          <button [ngClass]="{'btn-success': model.clinicalCare === 'no'}" class="btn btn-default btn-lg btn-block btn-huge"
            (click)="setClinical('no')">No</button>
        </div>
        <div align="center" class="col-md-4 col-sm-4 col-lg-4">
          <button [ngClass]="{'btn-success': model.clinicalCare === 'n/a'}" class="btn btn-default btn-lg btn-block btn-huge"
            (click)="setClinical('n/a')">Doesn't
            <br />Matter</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="step === 2" id="focus">
    <div class="prompt-header">
      <h3>
        <p>I want my mentor to
          <strong>focus</strong> on:
        </p>
      </h3>
    </div>
    <div class="prompt-body">
      <div class="row">
        <div align="center" class="col-md-4 col-sm-4 col-lg-4">
          <button [ngClass]="{'btn-success': model.focus === 'adult'}" class="btn btn-default btn-lg btn-block btn-huge" (click)="setFocus('adult')">Adult
            <br />Myositis</button>
        </div>
        <div align="center" class="col-md-4 col-sm-4 col-lg-4">
          <button [ngClass]="{'btn-success': model.focus === 'juvenile'}" class="btn btn-default btn-lg btn-block btn-huge"
            (click)="setFocus('juvenile')">Juvenile
            <br />Myositis</button>
        </div>
        <div align="center" class="col-md-4 col-sm-4 col-lg-4">
          <button [ngClass]="{'btn-success': model.focus === 'n/a'}" class="btn btn-default btn-lg btn-block btn-huge" (click)="setFocus('n/a')">Doesn't
            <br />Matter</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="step === 3" id="specialization">
    <div class="prompt-header">
      <h3>
        <p>I want a mentor who
          <strong>specializes</strong> in these forms of Myositis:
          <br /> (Click all that apply, then Next)
        </p>
      </h3>
    </div>
    <div class="prompt-body">
      <div class="row">
        <div *ngFor="let specialization of getKeys(specializations)" align="center" class="col-md-3 col-sm-3 col-lg-3">
          <button [ngClass]="{'btn-success': model.specialization.indexOf(specialization, 0) > -1}" class="btn btn-default btn-lg btn-block btn-huge"
            (click)="setSpecialization(specialization)">{{specializations.get(specialization)}}</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="step === 4" id="expertise">
    <div class="prompt-header">
      <h3>
        <p>I want a mentor who is an
          <strong>expert</strong> in:
          <br /> (Click all that apply, then Next)
        </p>
      </h3>
    </div>
    <div class="prompt-body">
      <div class="row">
        <div *ngFor="let expertise of getKeys(expertises)" align="center" class="col-md-3 col-sm-3 col-lg-3">
          <button [ngClass]="{'btn-success': model.expertise.indexOf(expertise, 0) > -1}" class="btn btn-default btn-lg btn-block btn-huge"
            (click)="setExpertise(expertise)">{{expertises.get(expertise)}}</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="step === 5" id="location">
    <div class="prompt-header">
      <h3>
        <p>I want a mentor who
          <strong>lives</strong> in:
          <br /> (Click all that apply, then Next)
        </p>
      </h3>
    </div>
    <div class="prompt-body">
      <div class="row">
        <div *ngFor="let location of getKeys(locations)" align="center" class="col-md-3 col-sm-3 col-lg-3">
          <button [ngClass]="{'btn-success': model.location.indexOf(location, 0) > -1}" class="btn btn-default btn-lg btn-block btn-huge"
            (click)="setLocation(location)">{{locations.get(location)}}</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <div *ngIf="step === 6" id="finish">
    <div class="prompt-header">
      <h2>
        <span class="glyphicon glyphicon-ok"></span> Great Job!
      </h2>
      <h3>
        <p>
          We are now searching the IMACS community
          <strong>for your potential mentor</strong>.
        </p>
      </h3>
    </div>
    <div class="prompt-body text-center">
      <img class="loading-spinner" src="assets/images/spinner.gif" alt="Searching Please Wait">
    </div>
  </div> -->
  <div *ngIf="step < 6" id="navigation-buttons" class="navigation-buttons">
    <div class="row">
      <div align="center" class="col-md-6 col-sm-6 col-lg-6">
        <button [disabled]='step === 1' class="btn btn-primary btn-lg btn-block btn-nav" (click)="previousPage()">Previous</button>
      </div>
      <div *ngIf="step != 5" align="center" class="col-md-6 col-sm-6 col-lg-6">
        <button [disabled]='disableNext()' class="btn btn-primary btn-lg btn-block btn-nav" (click)="nextPage()">Next</button>
      </div>
      <div *ngIf="step === 5" align="center" class="col-md-6 col-sm-6 col-lg-6">
        <button [disabled]='disableNext()' class="btn btn-primary btn-lg btn-block btn-nav" (click)="searchMentor()">Search</button>
      </div>
    </div>
  </div>
</div>
<app-mentor-search-result 
  *ngIf="login && optionsComplete" 
  [login]="login" 
  [mentorSearchOptions]="model"
  (refineSearchEvent)="refineSearchEventHandler($event)"></app-mentor-search-result>