.container{
    background: rgba(255,255,255,1);
    min-height: 500px;
    /* box-shadow: 0px 0px 10px grey; */
    /* border-radius: 5px; */
}

.prompt-header{
    padding: 10px;
    color: rgba(76,76,76,1);
}

.prompt-progress-bar{
    margin: 10px;
    color: rgba(76,76,76,1);
    text-align: center;
}

.prompt-text {
    font-size: 14pt;
    color: rgba(76,76,76,1);
}

.prompt-body {
    font-size: 14pt;
    color: rgba(76,76,76,1);
    padding: 10px;
    min-height: 300px;
}

.btn-huge{
    min-height: 80px;
    min-width: 80px;
    font-size: 15pt;
    font-weight: bold;
    white-space: normal;
}

.navigation-buttons {
    padding: 10px;
}

.btn-nav {
    font-size: 15pt;
    /* font-weight: bold; */
}

.prompt-progress-bar {
    border: 1px;
    border-style: solid;
    /* border-radius: 5px; */
    border-color: rgba(76,76,76,.2);
    /* padding: 5px; */
}

.progress-item {
    color: rgba(76,76,76,.2);
    font-size: 13pt;
}

.progress-active {
    background-color: rgba(51,122,183,1);
    color: white;
    cursor: pointer;
    /* border-radius: 5px; */
}

.progress-complete {
    color: rgba(51,122,183,1);
    cursor: pointer;
}

.progress-current {
    font-weight: bold;
    /* color: rgba(51,122,183,1); */
}

.loading-spinner {
    margin-top: 50px;
}