<div class="container">
  <div align="center" id="progress-bar" class="prompt-progress-bar row">
    <div [ngClass]="{'progress-active': step >= 1}" class="progress-item col-md-2 col-sm-2 col-lg-2">Clinical Care</div>
    <div [ngClass]="{'progress-active': step >= 2}" class="progress-item col-md-2 col-sm-2 col-lg-2">Focus</div>
    <div [ngClass]="{'progress-active': step >= 3}" class="progress-item col-md-2 col-sm-2 col-lg-4">Specializations</div>
    <div [ngClass]="{'progress-active': step >= 4}" class="progress-item col-md-2 col-sm-2 col-lg-2">Expertise</div>
    <div [ngClass]="{'progress-active': step >= 5}" class="progress-item col-md-2 col-sm-2 col-lg-2">Location</div>
  </div>
  <div *ngIf="step === 1" id="clinical-care">
    <div class="prompt-header">
      <h3>
        <p>Do you want a mentor <strong>who is responsible</strong> for the clinical care of the patients?
        </p>
      </h3>
    </div>
    <div class="prompt-body">
      <div class="row">
          <div align="center" class="col-md-4 col-sm-4 col-lg-4"><button [ngClass]="{'btn-success': model.clinicalCare === 'yes'}" class="btn btn-default btn-lg btn-block btn-huge" (click)="setClinical('yes')">Yes</button></div>
          <div align="center" class="col-md-4 col-sm-4 col-lg-4"><button [ngClass]="{'btn-success': model.clinicalCare === 'no'}" class="btn btn-default btn-lg btn-block btn-huge" (click)="setClinical('no')">No</button></div>
          <div align="center" class="col-md-4 col-sm-4 col-lg-4"><button [ngClass]="{'btn-success': model.clinicalCare === 'n/a'}" class="btn btn-default btn-lg btn-block btn-huge" (click)="setClinical('n/a')">Doesn't<br />Matter</button></div>
      </div>
    </div>
  </div>
  <div *ngIf="step === 2" id="focus">
      <div class="prompt-header">
        <h3>
          <p>I want my mentor to focus on...
          </p>
        </h3>
      </div>
      <div class="prompt-body">
        <div class="row">
            <div align="center" class="col-md-4 col-sm-4 col-lg-4"><button [ngClass]="{'btn-success': model.focus === 'adult'}" class="btn btn-default btn-lg btn-block btn-huge" (click)="setFocus('adult')">Adult <br />Myositis</button></div>
            <div align="center" class="col-md-4 col-sm-4 col-lg-4"><button [ngClass]="{'btn-success': model.focus === 'juvenile'}" class="btn btn-default btn-lg btn-block btn-huge" (click)="setFocus('juvenile')">Juvenile <br />Myositis</button></div>
            <div align="center" class="col-md-4 col-sm-4 col-lg-4"><button [ngClass]="{'btn-success': model.focus === 'n/a'}" class="btn btn-default btn-lg btn-block btn-huge" (click)="setFocus('n/a')">Doesn't<br />Matter</button></div>
        </div>
      </div>
    </div>
    <div *ngIf="step === 3" id="specialization">
        <div class="prompt-header">
          <h3>
            <p>Who specializes in these forms of Myositis:
              <br /> (Click all that apply, then Next)
            </p>
          </h3>
        </div>
        <div class="prompt-body">
          <div class="row">
              <div align="center" class="col-md-3 col-sm-3 col-lg-3"><button [ngClass]="{'btn-success': model.specialization.includes('dermatomyositis')}" class="btn btn-default btn-lg btn-block btn-huge" (click)="setSpecialization('dermatomyositis')">Dermato-<br />myositis</button></div>
              <div align="center" class="col-md-3 col-sm-3 col-lg-3"><button [ngClass]="{'btn-success': model.specialization.includes('polymyositis')}" class="btn btn-default btn-lg btn-block btn-huge" (click)="setSpecialization('polymyositis')">Polymyositis</button></div>
              <div align="center" class="col-md-3 col-sm-3 col-lg-3"><button [ngClass]="{'btn-success': model.specialization.includes('inclusion_body_myositis')}" class="btn btn-default btn-lg btn-block btn-huge" (click)="setSpecialization('inclusion_body_myositis')">Inclusion Body<br />Myositis</button></div>
              <div align="center" class="col-md-3 col-sm-3 col-lg-3"><button [ngClass]="{'btn-success': model.specialization.includes('n/a')}" class="btn btn-default btn-lg btn-block btn-huge" (click)="setSpecialization('n/a')">Doesn't<br />Matter</button></div>
          </div>
        </div>
      </div>
  <div id="navigation-buttons" class="navigation-buttons">
    <div class="row">
      <div align="center" class="col-md-6 col-sm-6 col-lg-6"><button [disabled]='step === 1' class="btn btn-primary btn-lg btn-block btn-nav" (click)="previousPage()">Previous</button></div>
      <div align="center" class="col-md-6 col-sm-6 col-lg-6"><button [disabled]='disableNext()' class="btn btn-primary btn-lg btn-block btn-nav" (click)="nextPage()">Next</button></div>
    </div>
  </div>
</div>

