/* You can add global styles to this file, and also import other style files */

body {
  background-image: url("assets/images/background-pattern-poly.gif");
  background-color: #e0e0e0;
  background-blend-mode: screen, difference, lighten;
}
.btn {
  margin: 2px;
}

.backdrop {
  background-color:rgba(0,0,0,0.6);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
}