/* You can add global styles to this file, and also import other style files */

body {
  background-image: url("assets/images/background-pattern-poly.gif");
  background-color: #e0e0e0;
  background-blend-mode: screen, difference, lighten;
}
.btn {
    margin: 2px;
}
