<div *ngIf="login" class="container">
  <div class="welcome">
      <div class="welcome-message">    
        <h1>Welcome To <strong>IMACS Mentorship</strong> Program</h1>
      </div>
      <div class="welcome-message-body">    
        <h4>The Mentorship Program is designed to connect IMACS Members around the globe in order to provide opportunities to teach, learn, and collaborate. Below are two options to Become a Mentor or Get a Mentor with which IMACS Members can expand their role in the IMACS community. Please Note: To be eligible to be an IMACS Mentor, you must be at least 5 years out from your post doctorate or fellowship training program.</h4>
      </div>
  </div>
  <div class="col-md-6 col-sm-6 col-lg-6">
    <app-home-mentor-pane [login]="login"></app-home-mentor-pane>
  </div>
  <div class="col-md-6 col-sm-6 col-lg-6">
    <app-home-mentee-pane [login]="login"></app-home-mentee-pane>
  </div>
</div>